<p id="notice"><%= notice %></p>


<head> 
  <%= stylesheet_link_tag 'application' %> 
</head>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @park.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @park.url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @park.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @park.longitude %>
</p>

<p>
  <strong>State:</strong>
  <%= @park.state %>
</p>

  <p>
    <strong>Phone:</strong>
    <%= eval(@park.phone)["phoneNumber"]%>
  </p>
  <p>
    <strong>Fax:</strong>
    <%= eval(@park.fax)["phoneNumber"]%>
  </p>


<p>
  <strong>Directions:</strong>
  <%= @park.directions %>
</p>

<p>
  <strong>Directions url:</strong>
  <%= @park.directions_url %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @park.weather %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', '/homepage' %>
